body{
    margin: auto;
}

/*
    - Everything related to the homepage. -
*/
div#MWrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 37.5% 37.5% 10%;
    grid-template-columns: 30% 20% 50%;
    grid-template-areas: 
    'hd nv nv'
    'mn mn sc'
    'mn mn as'
    'ft ft ft';
}

nav{
    grid-area: nv;
    background-color: yellowgreen;
}
main{
    grid-area: mn;
    background-color: aquamarine;
}
section{
    grid-area: sc;
    background-color: blueviolet;
}
aside{
    grid-area: as;
    background-color: orange;
}


/*
    - Everything related to the article-page. -
*/

div#AWrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 30% 20% 50%;
    grid-template-areas: 
    'hd nv nv '
    'mn mn sc '
    'ft ft ft ';
}

main#Amn{
    grid-area: mn;
    background-color: aquamarine;
}
section#Asc{
    grid-area: sc;
    background-color: greenyellow;
}

/*
    - Everything related to the fastigheter-page. -
*/

div#FWrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    'hd nv'
    'mn mn'
    'ft ft';
}
main#Fmn{
    grid-area: mn;
    background-color: goldenrod;
}

/*
    - Everything Miscellaneous / Universal. -
*/
header{
    grid-area: hd;
    background-color: yellow;
    font-family: 'Comfortaa', Times, serif;
}

footer{
    grid-area: ft;
    background-color: red;
}

