@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
    margin: auto;
    
}

/*
    - Everything related to the homepage. -
*/
div#MWrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 40% 40% 10%;
    grid-template-columns: 30% 30% 40%;
    grid-template-areas: 
    'hd nv nv'
    'mn mn sc'
    'mn mn as'
    'ft ft ft';
}

main{
    grid-area: mn;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
section{
    grid-area: sc;
    background-color: blueviolet;
}
aside{
    grid-area: as;
    background-color: orange;
}


/*
    - Everything related to the article-page. -
*/

div#AWrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 30% 20% 50%;
    grid-template-areas: 
    'hd nv nv '
    'mn mn sc '
    'ft ft ft ';
}

main#Amn{
    grid-area: mn;
    background-color: aquamarine;
}
section#Asc{
    grid-area: sc;
    background-color: greenyellow;
}

/*
    - Everything related to the fastigheter-page. -
*/

div#FWrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    'hd nv'
    'mn mn'
    'ft ft';
}
main#Fmn{
    grid-area: mn;
    background-color: goldenrod;
}

/*
    - Everything Miscellaneous / Universal. -
*/
header{
    grid-area: hd;
    background-color: yellow;
}

#img_logo{
    width: 80%;
    height: 80%;
}

nav{
    grid-area: nv;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    grid-area: ft;
    background-color: red;
}

.rubrik{
    font-family: 'Comfortaa', Times, Arial;
    font-size: 40px;
    font-weight: 700;
    color: #3498db;
}

.underrubrik{
    font-family: 'Comfortaa', Times, Arial;
    font-size: 25px;
    color: #3498db;
}

.breadtext{
    font-family: 'Comfortaa', Times, Arial;
    font-size: 15px;
    color: #3498db;
}

.button{
    background-color: #3498db;
    color: white;
    padding: 16px 32px;
    border-radius: 15px;
    border: none;
    transition-duration: 0.4s;
    size: 60px;
    font-family: 'Comfortaa', Times, Arial;
    font-size: small;
}

.button:hover{
    background-color: white;
    color: #3498db;
    filter: hue-rotate(#3498db);
}

#img_btn{
    display: grid;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

#img_btn_alt{
    display: grid;
    padding: 3px;
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

